@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
/*========== GOOGLE FONTS ==========*/
/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;
  /*========== Colors ==========*/
  --first-color: #3b72ff;
  --first-color-light: #eee;
  --title-color: #3b72ff;
  --text-color: #555;
  --text-color-light: #999;
  --body-color: #fff;
  /* --container-color: #3a456b; */
  --container-color: #fff;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --large-font-size: 1.3rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 800;
  --font-semi-bold: 1000;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  /* Background pattern from Toptal Subtle Patterns */
  /* background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png); */
}

/* h3 {
  margin: 0;
} */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  /* box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1); */
  /* box-shadow: 0 1px 10px #00f; */
  box-shadow: 0px 0px 6px rgba(0, 0, 255, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-size: var(--large-font-size);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: 0.4rem 0.75rem;
  background-color: var(--first-color-light);
  border-radius: 0.35rem;
}

/* .header__input:hover {
  background-color: rgba(0, 0, 0, 0.1);
} */
.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::-moz-placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__input:-ms-input-placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon,
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/* toggle */
.toggle__btn {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  /* background-color: #333; */
}

.toggle__btn span {
  position: absolute;
  top: 16px;
  left: 5px;
  width: 25px;
  height: 3px;
  background: var(--title-color);
  border-radius: 4px;
  transition: 0.5s;
}

.toggle__btn span:nth-child(1) {
  transform: translateY(-7px);
}

.toggle__btn span:nth-child(2) {
  transform: translateY(7px);
}

.active__toggle span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}

.active__toggle span:nth-child(2) {
  /* transform: translateY(0px) rotate(-45deg); */
  transform: translateY(0px) rotate(315deg);
}

.active__toggle span:nth-child(3) {
  transform: translateX(40px);
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 0.7rem 0 1rem;
  background-color: var(--container-color);
  /* box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1); */
  box-shadow: 0px 0px 6px rgba(0, 0, 255, 0.1);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
  /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__list,
.nav__items {
  display: grid;
}

/* .nav__list {
  row-gap: 2.5rem;
} */
.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--text-color-light);
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
  /* background-color: var(--first-color-light); */
  /* border-radius: 0.2rem; */
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  font-size: var(--large-font-size);
  margin-bottom: 2.5rem;
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.nav__name {
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  /* margin-top: 5rem; */
  margin-top: 1rem;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: 0.4s ease-in-out;
}

.nav__dropdown_collapse {
  background-color: var(--first-color-light);
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.nav__dropdown_content {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav__dropdown_item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown_item:hover {
  color: var(--first-color);
}

.nav__dropdown_icon {
  margin-left: auto;
  transition: 0.4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown_icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show_menu {
  left: 0;
}

/*===== Active link =====*/
.active__link {
  color: var(--first-color);
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }

  .header {
    padding: 0 3rem 0 6rem;
  }

  .header__container {
    height: calc(var(--header-height) + 0.5rem);
  }

  .header__search {
    margin-left: 2rem;
    width: 300px;
    padding: 0.55rem 0.75rem;
  }

  .header__toggle {
    display: none;
  }

  .header__logo {
    display: block;
  }

  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }

  .nav {
    left: 0;
    padding: 1.2rem 1rem 0 1.5rem;
    width: 68px;
    /* Reduced navbar */
    transition-delay: 0.3s;
  }

  .nav__items {
    row-gap: 1.7rem;
  }

  .nav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav__logo_name,
.nav__name,
.nav__subtitle,
.nav__dropdown_icon {
    opacity: 0;
    transition: 0.3s;
  }

  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }

  /* Visible elements */
  .nav:hover .nav__logo_name {
    opacity: 1;
  }

  .nav:hover .nav__subtitle {
    opacity: 1;
  }

  .nav:hover .nav__name {
    opacity: 1;
  }

  .nav:hover .nav__dropdown_icon {
    opacity: 1;
  }
}
.main {
  margin-bottom: 70px;
}
